<header class="flex justify-content-between align-items-center p-3 shadow-2">
    <a [routerLink]="''" class="flex align-items-center text-decoration-none">
        <i class="pi pi-home text-2xl mr-2"></i>Hunt
    </a>

    <div class="flex align-items-center">
        <!-- Show "Create Listing" link only when the user is logged in -->
        <a *ngIf="isLoggedIn" [routerLink]="'/create-listing'" class="flex align-items-center text-decoration-none mr-3">
            <i class="pi pi-plus text-2xl mr-2"></i> Create Listing
        </a>

        <!-- Show "Sign Up" link only when the user is not logged in -->
        <a *ngIf="!isLoggedIn" [routerLink]="'/register'" class="flex align-items-center text-decoration-none mr-3">
            <i class="pi pi-user text-2xl mr-2"></i> Sign Up
        </a>

        <!-- Show "Logout" button only when the user is logged in -->
        <button *ngIf="isLoggedIn" (click)="logout()" class="p-button p-component p-button-danger">
            <i class="pi pi-sign-out mr-2"></i> Logout
        </button>
    </div>
</header>

<main class="p-3">
    <router-outlet></router-outlet>
</main>
